<mat-grid-list cols="2" gutterSize="5px">

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>

</mat-grid-list>